* {
  body {
    .box-perfil-background {
        height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .box-perfil-principal {
        background-color: #fff;
        height: 80vh;
        border-radius: var(--borda-arredondamento);
        .box-perfil {
          display: grid;
          justify-content: start;
          column-gap: var(--espacamento-pequeno);
          align-items: center;

          .box-perfil-foto {
            grid-row: 1;
            grid-column: 1;
            margin: var(--espacamento-menor) var(--espacamento-pequeno);
          }
          .box-perfil-nome {
            grid-row: 1;
            grid-column: 2;

            h2 {
                font-size: 1.5rem;
                font-weight: var(--font-peso);
              color: var(--cor-secundaria);
            }

            p {
                font-size: var(--font-principal);
                font-weight: var(--font-peso);
              color: var(--cor-principal);
            }
          }
        }
        .box-perfil-lista {
          li {
            padding: var(--espacamento-menor);
            border-bottom: 1px solid #000;

            p {
                color: #000000be;
            }
          }
        }

        .box-perfil-button-voltar-editar {
            display: grid;
            justify-content: center;
            margin-top: var(--espacamento-menor);
          button {
            all: unset;
            background-color: var(--cor-principal);
            border-radius: var(--borda-arredondamento);
            padding: var(--espacamento-pequeno);

            a {
              all: unset;
              color: #fff;
            }
          }
        }
      }
    }
  }
}
