* {
    body {
        background-color: var(--cor-principal);

       .box-button-voltar {
        width: 100vw;
        height: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
            all: unset;
            width: 4rem;
            color: #fff;
            background-color: var(--cor-secundaria);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            cursor: pointer;
          }
       }

        .box-search-background {
            display: flex;
            flex-direction: column;
            align-items: center;
    }

    .box-search {
        width: 90vw;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .box-search-resposta {
            height: 80vh;
            width: 90vw;
            overflow-y: auto;
            scrollbar-width: none;
            display: flex;
            align-items: baseline;
            background-color: #fff;
            border-radius: var(--borda-arredondamento);
           

            .results-list {
                width: 90vw;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                border-radius: var(--borda-arredondamento);

                li {
                    height: 6rem;
                    width: 85vw;
                    display: flex;
                    gap: 1rem;
                    margin: 1rem 0rem 2rem .6rem;
       

                    .box-vinho {
                            height: 7rem;
                            display: flex;
                            justify-content: space-between;
                            flex-direction: column;
                            gap: .2rem;

                            :nth-child(3) {
                                font-style: italic;
                                font-weight: 400;
                            }
                    }

                    p {
                        font-family: var(--font-nome-vinho);
                        font-size: .9rem;
                        font-weight: 500;
                    }
                    img {
                    height: 7rem;
                    width: 6rem;
                    box-shadow: 3px 3px 8px 0px;
                    border-radius: var(--borda-arredondamento);
                }

                .box-vinho-info-add {

                        a {
                            display: flex;
                            align-items: flex-end;
                            gap: .5rem;
                            text-decoration: none;
                            user-select: none;
                            outline: none; 
                            box-shadow: none;
                            background: transparent; 
                            color: inherit;
                            font-family: Arial, Helvetica, sans-serif;
                            color: #000000a4;
                            font-weight: 100;
                            font-style: italic;
                        }

                    img {
                        box-shadow: none;
                        border: none;
                        border-radius: 0;
                        height: 1rem;
                        width: 1rem;
                    }
                }
                }

                
            }
        }

        .box-search-box-btn {
            display: flex;
            align-items: center;
            margin-top: .5rem;

            input {
            all: unset;
            border: none;
            outline: none;
            padding: 0;
            margin: 0;
                
            font-weight: var(--font-peso);
            background-color: #fff;
            padding: 6px 17px;
            border-left: 1rem solid var(--cor-secundaria);
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }

        button {
            background-color: var(--cor-secundaria);
            border: none;
            height: 2rem;
            width: 4rem;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;

              img {
            height: 1.4rem;
        }
        }
        }  
    }
    }
    
}